.header_custom table thead > tr > th {
  background-color: #505050 !important;
  color: white !important;
  border: 1px solid #505050 !important;
  border-bottom: none !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0 !important;
  padding: 0.5rem 1rem !important;
}

.o_data_cell > td {
  background-color: #e62727 !important;
}
